<div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-chevron-left" href="/#/"></a>
    <h1 class="title">Candidatos 2015</h1>
</div>
<ion-view title="Voto">
    <ion-content padding="true" class="has-header">

        <div class="text-center">

            <h4><span class="ion-checkmark-circled balanced"></span> Candidatos presidenciales 2015</h4>
            <h6>Seleccione su candidato a presidente</h6>

            <div class="hi-icon-effect-8 text-center candidatos-box">
                <div class="col pull-left col-50" ng-click="autoScroll = !autoScroll"  ng-repeat="candidato in candidatos">
                <span class="profile hi-icon " ng-class="autoScroll ? 'selected' : 'normal'">
                <img src="{{candidato.imagen}}"/>
                    <span class="ion-checkmark-circled balanced"></span>
                </span>
                    <strong>{{candidato.nombre}}</strong><br/>
                    <small>{{candidato.partido}}</small>
                    <br/>
                    <small>Candidato Presidencial</small>
                </div>

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light bar-custom">

        <button class="button button-block button-balanced">
            Guardar Voto
        </button>

    </ion-footer-bar>
</ion-view>