/* Voto View SCSS */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.profile{
  display: block;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  background-color: #f0f0f0;
  border:5px solid #f0f0f0;
}

.profile img{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 110px;
  height: 110px;
}

.profile.selected img{
  opacity: 0.8;
}

.hi-icon {
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;

  .ion-checkmark-circled{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    font-size: 30px;
  }

}

.hi-icon.selected{
  .ion-checkmark-circled{
    display: block;

  }
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.candidatos-box{
  padding-bottom: 100px;
  overflow: hidden;
}

.bar-custom{height: 80px; padding: 10px 20px;
  .button{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 55px;
  }
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
  background: rgb(114,204,11);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgb(114,204,11);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon.selected {
  background: rgb(114,204,11);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.hi-icon-effect-8 .hi-icon.selected:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

.voto-holder{
  .col-profile{
    min-height: 225px;
    float:left;
  }
}
.row-gender{
  .active{
    .img-option{
      border:3px solid #33cd5f;
    }
  }
}
@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
