.box{
	height: 100%;
	width: 100%;
}

.button{
  border-radius: 4px;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}