<div class="bar bar-header bar-positive">
<a class="button button-icon icon ion-chevron-left" href="/#/"></a>
  <h1 class="title">Candidatos 2015</h1>
</div>
<ion-view title="Voto">
    <ion-content padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=110%C3%97110&w=110&h=110">
                <h2>Zury Rios</h2>
                <p>Partido politico: Viva</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="https://placeholdit.imgix.net/~text?txtsize=10&txt=110%C3%97110&w=110&h=110">
                <h2>Manuel Baldizon</h2>
                <p>Partido politico: Lider</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>