<div class="bar bar-header bar-positive">
<a class="button button-icon icon ion-chevron-left" href="/#/"></a>
  <h1 class="title">Candidatos 2015</h1>
</div>
<ion-view title="Voto">
    <ion-content padding="true" class="has-header">
       
<div class="text-center">

    <h4><span class="ion-checkmark-circled balanced"></span> Candidatos presidenciales 2015</h4>

        <div class="hi-icon-effect-8 text-center">
            <div class="col pull-left col-50" ng-repeat="candidato in candidatos">
                <span class="profile hi-icon">
                <img  ng-src="images/candidatos/presidente/zury-rios.png"/>
                </span>
                <strong>{{candidato.nombre}}</strong><br/>
                <small>{{candidato.partido}}</small>
                <br/>
                <small>Candidato Presidencial</small>
            </div>

        </div>
</div>
    </ion-content>
</ion-view>