/* Voto View SCSS */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.col{float: left; min-height: 230px; padding-top: 20px;}
.profile{
  display: block;
  border-radius: 100%;
  height: 110px;
  width: 110px;
  background-color: #28a54c;
}

.profile img{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 110px;
  height: 110px;
}

.hi-icon {
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
  background: rgb(114,204,11);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgb(114,204,11);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
  background: rgb(114,204,11);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(114,204,11,0.1), 0 0 10px 10px #28a54c, 0 0 0 10px rgba(114,204,11,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
