<div class="bar bar-header bar-positive">
    <a class="button button-icon icon ion-chevron-left" href="/#/"></a>
    <h1 class="title">¿Como funciona voto.gt?</h1>
</div>
<ion-content class="about-page padding" title="¿Como funciona voto.gt?" active-slide="1" show-pager="true" disable-scroll="false" on-slide-changed="slideHasChanged($index)">
    <ion-slide-box>

        <!-- Slide page one -->
        <ion-slide>

            <div class="text-center about-slide-holder">
                <img class="img-responsive" ng-src="images/about/imei.png"/>
                <h4>Verificación por Identificación de dispositivo</h4>
                <p>
                   Obtenemos el UUID (Universal Unico Identificador de Dispositivos) y registramos su télefono asi no necesita tener un correo y nos aseguramos que se haga un solo voto por dispositivo.
                </p>
            </div>
        </ion-slide>

        <!-- Slide page two -->
        <ion-slide>
            <div class="text-center about-slide-holder">
            <img class="img-responsive" ng-src="images/about/elegir.png"/>
            <h4>Una vez realicemos su empadronamiento virtual puede votar</h4>
            <p>
                Esta aplicación movíl es una simulacion de las votaciones en Guatemala nuestro objetivo es fomentar el voto en los guatemaltecos, y dar a conocer a los candidatos y sus propuestas.
            </p>
                </div>
        </ion-slide>

        <!-- More slides here... -->
    </ion-slide-box>
</ion-content>