.about-page{
  .slider, .scroll{
    height: 100%;
  }

  .img-responsive{
    width: auto;
    height: 300px;
    margin: 0 auto;
  }
  .about-slide-holder{
    margin-top: 30%;
  }
  h4{
    padding-top: 50px;
  }
}

