<div class="bar bar-header bar-positive">
<a class="button button-icon icon ion-chevron-left" href="/#/"></a>
  <h1 class="title">Registro</h1>
</div>
<div class="registro-page" animation="slide-left-right">
       
       <ion-view title="Registro">
    <ion-content padding="true" class="has-header">
        <h1>Registro</h1>
        <p>Por favor revise que todos sus datos sean correctos ya que no pueden ser editados una vez se realice el registro.</p>
        <form>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nombre</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-select item-stacked-label">
    <span class="input-label">Sexo</span>
     <select>
     	<option value="M">Masculino</option>
     	<option value="F">Femenino</option>
     </select>
  </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Fecha de Nacimiento</span>
    <input type="date" placeholder="">
  </label>
  <label class="item item-select item-stacked-label">
    <span class="input-label">Departamento</span>
    <select ng-model="departamento" ng-options="departamento.title for departamento in departamentos"></select>
  </label>

  <label class="item item-select item-stacked-label">
    <span class="input-label">Municipio</span>
    <select ng-model="municipio" ng-options="municipio.title for municipio in departamentos"></select>
  </label>


</div>


   
                <button class="button button-balanced button-block button-large">Registrarme</button>
                </form>
    </ion-content>
</ion-view>

</div>