<div class="registro-page" animation="slide-left-right">
       
    <ion-view title="Registro" >
    <ion-content padding="true" class="padding">

    


       <ion-slide-box ion-wizard>

            <!-- Bienvenida -->
            <ion-slide ion-wizard-step>

                <div class="row">
                    <div class="col col-center">

                        <div class="text-center">
                            <img src="images/ui/bienvenidos.png" class="img-responsive" alt=""/>
                            <h2>Bienvenido</h2>
                            <p>Te haremos 5 preguntas para poder ubicarte mejor en el proceso de votación</p>
                            <br/>




                        </div>

                    </div>
                </div>
            </ion-slide>
            <!--/Bienvenida -->

            <!-- Genero -->
            <ion-slide ion-wizard-step condition="votante.genero">
                <div class="row">
                    <div class="col col-center">
                        <h2 class="positive">Genero</h2>
                        <p>Indicanos tu genero.</p>

                        <ion-radio ng-model="votante.genero" ng-value="'H'">Masculino (Hombre)</ion-radio>
                        <ion-radio ng-model="votante.genero" ng-value="'M'">Femenino (Mujer)</ion-radio>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <img src="images/ui/gender-male.png" class="img-option img-responsive" alt=""/>
                        <h3>Hombre</h3>
                    </div>
                    <div class="col">
                        <img src="images/ui/gender-female.png" class="img-option img-responsive" alt=""/>
                        <h3>Mujer</h3>
                    </div>
                </div>

            </ion-slide>
            <!--/Genero -->


            <!-- Cumpleanios -->
            <ion-slide ion-wizard-step condition="votante.cumpleanios != null">
                <div class="row">
                    <div class="col">
                       <div class="text-center">
                           <img src="images/ui/calendario.png" alt=""/>
                           <h2>Edad</h2>
                           <p>Selecciona tu rango de edad.</p>
                       </div>

                        <ion-radio ng-model="votante.cumpleanios" ng-value="1">1 - 17</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="2">18 - 30</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="3">31 - 50</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="5">51 - 70</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="7">mas de 70</ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Cumpleanios -->

            <!-- Educacion -->
            <ion-slide ion-wizard-step condition="votante.escolaridad != null">
                <div class="row">
                    <div class="col col-center">

                        <div class="text-center">
                            <img src="images/ui/educacion.png" alt=""/>
                            <h2>Educación</h2>
                            <p>Selecciona tu nivel de estudios.</p>
                        </div>

                        <ion-radio ng-model="votante.escolaridad" ng-value="1">Primaria</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="2">Secundaria</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="3">Bachillerato</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="4">Universidad</ion-radio>

                    </div>
                </div>
            </ion-slide>
            <!--/Educacion -->


            <!-- Departamento -->
            <ion-slide ion-wizard-step condition="votante.departamento">

                <div class="text-center">
                    <img src="images/ui/mapa-guatemala.png" alt=""/>
                    <h2>Selecciona tu departamento</h2>
                    <p>Con esta información te mostramos los alcaldes postulados para tu departamento.</p>
                </div>

                <div class="row">
                    <div class="col col-center">
                          <ion-radio ng-model="votante.departamento" ng-value="{{departamento.id}}" ng-repeat="departamento in departamentos">{{departamento.title}}
                          </ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Departamento -->


            <!-- Municipio -->
            <ion-slide ion-wizard-step condition="votante.municipio">
                <div class="row">
                    <div class="col col-center">
                        <h3 class="positive"><i class="ion-location"></i> Municipio</h3>
                        <p>De que municipio de {{getMunicipio(votante.departamento)}} eres?</p>
                          <ion-radio 
                          ng-model="votante.municipio" 
                          ng-value="{{municipio.id}}"
                          ng-repeat="municipio in getMunicipios(votante.departamento)"
                          >{{municipio.title}}</ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Municipio -->


            <!-- Detalles Registro -->
            <ion-slide ion-wizard-step>
                <div class="row">
                    <div class="col col-center">

                        <div class="text-center">
                            <img src="images/ui/felicitaciones.png" alt=""/>
                            <h2>Felicitaciones!</h2>
                            <p>Ya estas listo para votar</p>
                            <br/>

                            <button class="button button-full button-large button-balanced">
                                Votar
                            </button>

                        </div>

                    </div>
                </div>
            </ion-slide>
            <!--/Detlles registro -->

        </ion-slide-box>
                  


    </ion-content>



    <ion-footer-bar align-title="left" class="big-bar">
        <button 
        class="button button-balanced button-full-block button-large" 
        ion-wizard-next>Continuar <i class="ion-chevron-right"></i>
        </button>

<!--
        <button 
        class="button button-balanced button-full-block button-large" 
        ng-click="sendRegisterData()">Registrar <i class="ion-chevron-right"></i>
        </button>
-->

    </ion-footer-bar>








</ion-view>

</div>