
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>




<div class="registro-page" animation="slide-left-right">
       
    <ion-view title="Registro" >
    <ion-content padding="true" class="has-header padding">

    


       <ion-slide-box ion-wizard>

            <!-- Bienvenida -->
            <ion-slide ion-wizard-step>

                <div class="row">
                    <div class="col col-center">

                    <h3>Gracias por participar en el proceso de votaciones.</h3>
                    <p>A continuacion algunas preguntas que nos ayudaran a generar estadisticas sobre las elecciones por favor contesta de forma honesta.</p> 
                    <p>Los datos solicitados son anonimos puedes estar seguro de tu voto.</p>


                    </div>
                </div>
            </ion-slide>
            <!--/Bienvenida -->

            <!-- Genero -->
            <ion-slide ion-wizard-step condition="votante.genero">
                <div class="row">
                    <div class="col col-center">
                        <h2 class="positive"><i class="ion-calendar"></i> Genero</h2>
                        <p>Indicanos tu genero.</p>
                        <ion-radio ng-model="votante.genero" ng-value="'H'">Masculino (Hombre)</ion-radio>
                        <ion-radio ng-model="votante.genero" ng-value="'M'">Femenino (Mujer)</ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Genero -->


            <!-- Cumpleanios -->
            <ion-slide ion-wizard-step condition="votante.cumpleanios != null">
                <div class="row">
                    <div class="col">
                        <h2 class="positive"><i class="ion-calendar"></i> Edad</h2>
                        <p>Selecciona el rango de edad en que te encuentras.</p>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="1">1 - 17</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="2">18 - 30</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="3">31 - 50</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="5">51 - 70</ion-radio>
                        <ion-radio ng-model="votante.cumpleanios" ng-value="7">mas de 70</ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Cumpleanios -->

            <!-- Educacion -->
            <ion-slide ion-wizard-step condition="votante.escolaridad != null">
                <div class="row">
                    <div class="col col-center">
                        <h2 class="positive"><i class="ion-university"></i>Nivel de Educación</h2>
                        <p>Indicanos tu nivel de escolaridad</p>
                        <ion-radio ng-model="votante.escolaridad" ng-value="1">Primaria</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="2">Secundaria</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="3">Bachillerato</ion-radio>
                        <ion-radio ng-model="votante.escolaridad" ng-value="4">Universidad</ion-radio>

                    </div>
                </div>
            </ion-slide>
            <!--/Educacion -->


            <!-- Departamento -->
            <ion-slide ion-wizard-step condition="votante.departamento">
                <div class="row">
                    <div class="col col-center">
                        <h2 class="positive"><i class="ion-map"></i> Departamento</h2>
                        <p>De que departamento eres?</p>
                          <ion-radio ng-model="votante.departamento" ng-value="{{departamento.id}}" ng-repeat="departamento in departamentos">{{departamento.title}}
                          </ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Departamento -->


            <!-- Municipio -->
            <ion-slide ion-wizard-step condition="votante.municipio">
                <div class="row">
                    <div class="col col-center">
                        <h3 class="positive"><i class="ion-location"></i> Municipio</h3>
                        <p>De que municipio de {{getMunicipio(votante.departamento)}} eres?</p>
                          <ion-radio 
                          ng-model="votante.municipio" 
                          ng-value="{{municipio.id}}"
                          ng-repeat="municipio in getMunicipios(votante.departamento)"
                          >{{municipio.title}}</ion-radio>
                    </div>
                </div>
            </ion-slide>
            <!--/Municipio -->


            <!-- Detalles Registro -->
            <ion-slide ion-wizard-step>
                <div class="row">
                    <div class="col col-center">
                        <h3 class="positive"><i class="ion-location"></i> Detalles</h3>
                        <p>A continuacion los detalles de registro que vamos a guardar</p>
  




                    </div>
                </div>
            </ion-slide>
            <!--/Detlles registro -->

        </ion-slide-box>
                  


    </ion-content>



    <ion-footer-bar align-title="left" class="big-bar">
        <button 
        class="button button-balanced button-full-block button-large" 
        ion-wizard-next>Continuar <i class="ion-chevron-right"></i>
        </button>

<!--
        <button 
        class="button button-balanced button-full-block button-large" 
        ng-click="sendRegisterData()">Registrar <i class="ion-chevron-right"></i>
        </button>
-->

    </ion-footer-bar>








</ion-view>

</div>