<div class="registro-page" animation="slide-left-right">
<ion-view title="Registro" >
    <ion-content padding="true" class="padding">
        <div class="row">
            <div class="col col-center">

                <div class="text-center">
                    <img src="images/ui/bienvenidos.png" class="img-responsive animated fadeIn" alt=""/>
                    <h2>Bienvenido</h2>
                    <p>Te haremos 5 preguntas para poder ubicarte mejor en el proceso de votación</p>
                    <br/>
                </div>

            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="big-bar">
        <button 
        class="button button-balanced button-full-block button-large" 
        ui-sref="registro_step1">Continuar <i class="ion-chevron-right"></i>
        </button>

<!--
        <button 
        class="button button-balanced button-full-block button-large" 
        ng-click="sendRegisterData()">Registrar <i class="ion-chevron-right"></i>
        </button>
-->

    </ion-footer-bar>


</ion-view>
</div>